.result {
  --options-size: clamp(10rem, 20vw, 18rem);
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.result .paper,
.result .rock,
.result .scissors {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  transform: none;
}

.player-side,
.house-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.empty-circle {
  width: var(--options-size);
  height: var(--options-size);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.result-title {
  color: white;
  letter-spacing: 0.12rem;
  font-size: 1.2rem;
  font-weight: 700;
  z-index: 2;
}

.result-outcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  min-width: 300px;
  z-index: 3;
}

.result-outcome-title,
.countdown-number {
  color: white;
  font-size: 3rem;
  font-weight: 700;
}

.result-outcome-button {
  background-color: white;
  color: var(--navy900);
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  padding: 0.9rem 3.5rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.result-outcome-button:hover {
  color: var(--red600);
}

.winner-glow {
  position: relative;
  z-index: 1;
}

.winner-glow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  border-radius: 50%;

  z-index: -1;

  box-shadow:
    0 0 0 6rem rgba(255, 255, 255, 0.04),
    0 0 0 10rem rgba(255, 255, 255, 0.03),
    0 0 0 14rem rgba(255, 255, 255, 0.02),
    0 0 0 18rem rgba(255, 255, 255, 0.01);
}

/* --- MEDIA QUERIES --- */

@media (max-width: 768px) {
  .winner-glow::before {
    box-shadow:
      0 0 0 3rem rgba(255, 255, 255, 0.04),
      0 0 0 5rem rgba(255, 255, 255, 0.03),
      0 0 0 7rem rgba(255, 255, 255, 0.02);
  }

  .result {
    --options-size: clamp(8.5rem, 30vw, 12rem);
  }

  .player-side,
  .house-side {
    flex-direction: column-reverse;
    gap: 2rem;
    max-width: 45%;
  }

  .result-outcome {
    order: 3;
    width: 100%;
    margin-top: 0.5rem;
  }

  .result-title {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    text-align: center;
  }
}

@media (max-width: 359px) {
}
